## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` library.

In [1]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [2]:
sample_list_1 = random.sample(range(100),k=80)
print (sample_list_1)

[80, 84, 27, 81, 51, 35, 59, 50, 83, 5, 22, 54, 45, 34, 33, 8, 85, 3, 46, 77, 17, 68, 60, 86, 23, 63, 40, 43, 98, 74, 71, 7, 38, 32, 47, 52, 66, 13, 4, 67, 88, 93, 53, 90, 11, 42, 2, 96, 91, 15, 29, 57, 48, 78, 69, 37, 14, 65, 30, 39, 6, 16, 10, 95, 62, 92, 73, 61, 56, 26, 20, 36, 64, 76, 87, 94, 49, 19, 44, 89]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [3]:
# Your code here
set1 = set(sample_list_1)
print (type(set1))
print (len(set1))

<class 'set'>
80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [4]:
sample_list_2 = []
for i in range(0,80):
    n = random.randint(1,100)
    sample_list_2.append(n)
print(sample_list_2)

[61, 27, 17, 24, 69, 62, 74, 34, 83, 83, 28, 6, 47, 76, 20, 23, 68, 67, 91, 87, 2, 18, 80, 65, 72, 42, 60, 61, 12, 4, 30, 64, 63, 26, 8, 55, 61, 36, 54, 11, 12, 88, 8, 19, 11, 35, 60, 78, 48, 39, 23, 70, 84, 69, 5, 47, 95, 37, 83, 69, 30, 2, 8, 53, 86, 13, 90, 24, 4, 44, 86, 79, 81, 67, 40, 93, 87, 94, 95, 96]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [5]:
set2 = set(sample_list_2)
print (type(set2))
print (len(set2))

<class 'set'>
59

#####  The lenght of set2  is not 80 anymore because sets ony collect unique elements. "sample_list_2" had elements that repited themselves.

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [6]:
sample_list_3 = []
for i in set1:
    if i in set2:
        pass
    else:
        sample_list_3.append(i)
set3 = set(sample_list_3)
print (set3)

{3, 7, 10, 14, 15, 16, 22, 29, 32, 33, 38, 43, 45, 46, 49, 50, 51, 52, 56, 57, 59, 66, 71, 73, 77, 85, 89, 92, 98}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [7]:
sample_list_4 = []
for i in set2:
    if i in set1:
        pass
    else:
        sample_list_4.append(i)
set4 = set(sample_list_4)
print (set4)

{70, 72, 12, 79, 18, 55, 24, 28}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [8]:
sample_list_5 = []
for i in set1:
    if i in set2:
        sample_list_5.append(i)
    else:
        pass
set5 = set(sample_list_5)
print (set5)

{2, 4, 5, 6, 8, 11, 13, 17, 19, 20, 23, 26, 27, 30, 34, 35, 36, 37, 39, 40, 42, 44, 47, 48, 53, 54, 60, 61, 62, 63, 64, 65, 67, 68, 69, 74, 76, 78, 80, 81, 83, 84, 86, 87, 88, 90, 91, 93, 94, 95, 96}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [9]:
# Your code here
print (len(set1))
print (len(set2))
print (len(set3))
print (len(set4))
print (len(set5))

80
59
29
8
51

#### Create an empty set called `set6`.

In [10]:
set6 = set()
print (type(set6))

<class 'set'>

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [11]:
set6.update(set3)
set6.update(set5)
print (set6)
print (len(set6))

{2, 3, 4, 5, 6, 7, 8, 10, 11, 13, 14, 15, 16, 17, 19, 20, 22, 23, 26, 27, 29, 30, 32, 33, 34, 35, 36, 37, 38, 39, 40, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 56, 57, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 71, 73, 74, 76, 77, 78, 80, 81, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 98}
80

#### Check if `set1` and `set6` are equal.

In [12]:
#set1 and set6 have the same lenght and same elements BUT they are not exactly the same as sets are collections
#of elements unordered, unchangeable (can be added or removed), and unindexed.

print (set1 is set6)
print (len(set1) == len(set6))

False
True

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [13]:
print (set2.issubset(set1))
print (set3.issubset(set1))

False
True

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [14]:
aggregate345 = set3.union(set4,set5)
aggregate12 = set1.union(set2)
print(aggregate345)
print(aggregate12)
print ("Both aggregated values are equal:", aggregate12 == aggregate345)

{2, 3, 4, 5, 6, 7, 8, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 22, 23, 24, 26, 27, 28, 29, 30, 32, 33, 34, 35, 36, 37, 38, 39, 40, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 76, 77, 78, 79, 80, 81, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 98}
{2, 3, 4, 5, 6, 7, 8, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 22, 23, 24, 26, 27, 28, 29, 30, 32, 33, 34, 35, 36, 37, 38, 39, 40, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 76, 77, 78, 79, 80, 81, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 98}
Both aggregated values are equal: True

#### Using the `pop` method, remove the first element from `set1`.

In [15]:
set1.pop()

2

In [16]:
print (set1)

{3, 4, 5, 6, 7, 8, 10, 11, 13, 14, 15, 16, 17, 19, 20, 22, 23, 26, 27, 29, 30, 32, 33, 34, 35, 36, 37, 38, 39, 40, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 56, 57, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 71, 73, 74, 76, 77, 78, 80, 81, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 98}

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [21]:
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
set1_list = list(set1)
for i in list_to_remove:
    if i in set1:
        set1_list.pop()
    else:
        pass
set1_removed = set(set1_list)
print (set1_removed)

1
9
11
19
21
29
31
39
41
49
51
59
61
69
71
79
81
89
91
99
{47, 48, 49, 50, 51, 52, 53, 54, 56, 57, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 71, 73, 74, 76, 77, 78, 80, 81, 83, 84, 85, 86, 87, 88}