# Web Scraping Lab

You will find in this notebook some scrapy exercises to practise your scraping skills.

**Tips:**

- Check the response status code for each request to ensure you have obtained the intended content.
- Print the response text in each request to understand the kind of info you are getting and its format.
- Check for patterns in the response text to extract the data/info requested in each question.
- Visit the urls below and take a look at their source code through Chrome DevTools. You'll need to identify the html tags, special class names, etc used in the html content you are expected to extract.

**Resources**:
- [Requests library](http://docs.python-requests.org/en/master/#the-user-guide)
- [Beautiful Soup Doc](https://www.crummy.com/software/BeautifulSoup/bs4/doc/)
- [Urllib](https://docs.python.org/3/library/urllib.html#module-urllib)
- [re lib](https://docs.python.org/3/library/re.html)
- [lxml lib](https://lxml.de/)
- [Scrapy](https://scrapy.org/)
- [List of HTTP status codes](https://en.wikipedia.org/wiki/List_of_HTTP_status_codes)
- [HTML basics](http://www.simplehtmlguide.com/cheatsheet.php)
- [CSS basics](https://www.cssbasics.com/#page_start)

#### Below are the libraries and modules you may need. `requests`,  `BeautifulSoup` and `pandas` are already imported for you. If you prefer to use additional libraries feel free to do it.

In [1]:
import requests
import bs4
import pandas as pd
import re
import numpy as np

#### Download, parse (using BeautifulSoup), and print the content from the Trending Developers page from GitHub:

In [2]:
# This is the url you will scrape in this exercise
url = 'https://github.com/trending/developers'

In [3]:
# your code here
github_response = requests.get('https://github.com/trending/developers')
html_github = github_response.content
github_soup = bs4.BeautifulSoup(html_github, "html.parser")
#github_soup

#### Display the names of the trending developers retrieved in the previous step.

Your output should be a Python list of developer names. Each name should not contain any html tag.

**Instructions:**

1. Find out the html tag and class names used for the developer names. You can achieve this using Chrome DevTools.

1. Use BeautifulSoup to extract all the html elements that contain the developer names.

1. Use string manipulation techniques to replace whitespaces and linebreaks (i.e. `\n`) in the *text* of each html element. Use a list to store the clean names.

1. Print the list of names.

Your output should look like below:

```
['trimstray (@trimstray)',
 'joewalnes (JoeWalnes)',
 'charlax (Charles-AxelDein)',
 'ForrestKnight (ForrestKnight)',
 'revery-ui (revery-ui)',
 'alibaba (Alibaba)',
 'Microsoft (Microsoft)',
 'github (GitHub)',
 'facebook (Facebook)',
 'boazsegev (Bo)',
 'google (Google)',
 'cloudfetch',
 'sindresorhus (SindreSorhus)',
 'tensorflow',
 'apache (TheApacheSoftwareFoundation)',
 'DevonCrawford (DevonCrawford)',
 'ARMmbed (ArmMbed)',
 'vuejs (vuejs)',
 'fastai (fast.ai)',
 'QiShaoXuan (Qi)',
 'joelparkerhenderson (JoelParkerHenderson)',
 'torvalds (LinusTorvalds)',
 'CyC2018',
 'komeiji-satori (神楽坂覚々)',
 'script-8']
 ```

In [4]:
# your code here
tag_dev = github_soup.find_all("h1", {"class":"h3 lh-condensed"})
developers = []
for i in range(0,len(tag_dev)):
    tag_dev_str = str(tag_dev[i])
    pattern = 'href=\W\W\w+'
    words = str(re.findall(pattern, tag_dev_str))
    words = str(words.replace("[\'href=",""))
    words = str(words.replace("']",")"))
    words = str(words.replace('"',""))
    words = str(words.replace("/","("))
    tag_dev_str_name = str(tag_dev[i].a.string)
    tag_dev_str_name = tag_dev_str_name.replace("\n","")
    tag_dev_str_name = tag_dev_str_name.strip()
    developers_str = tag_dev_str_name + " " + words
    developers.append(developers_str)
developers

['Anton Babenko (antonbabenko)',
 'Fernand Galiana (derailed)',
 'Joe Chen (unknwon)',
 'Alex Goodman (wagoodman)',
 'kezhenxu94 (kezhenxu94)',
 'Georgios Konstantopoulos (gakonst)',
 'Zachary Rice (zricethezav)',
 'Steve Macenski (SteveMacenski)',
 'Asim Aslam (asim)',
 'Evan Wallace (evanw)',
 'Gajus Kuizinas (gajus)',
 'Eliza Weisman (hawkw)',
 'John Lindquist (johnlindquist)',
 'Rijk van Zanten (rijkvanzanten)',
 'Robert Mosolgo (rmosolgo)',
 'Mariusz Nowak (medikoo)',
 'Casey Davenport (caseydavenport)',
 'Rich Harris (Rich)',
 'R.I.Pienaar (ripienaar)',
 'Carlos Alexandro Becker (caarlos0)',
 'Shivam Mathur (shivammathur)',
 'Chocobozzz (Chocobozzz)',
 'Alex Potsides (achingbrain)',
 'Rico Sta. Cruz (rstacruz)',
 'Stephen Celis (stephencelis)']

#### Display the trending Python repositories in GitHub.

The steps to solve this problem is similar to the previous one except that you need to find out the repository names instead of developer names.

In [5]:
# This is the url you will scrape in this exercise
url = 'https://github.com/trending/python?since=daily'

In [6]:
# your code here
github_response_trending = requests.get('https://github.com/trending/python?since=daily')
html_github_trending = github_response_trending.content
github_soup_trending = bs4.BeautifulSoup(html_github_trending, "html.parser")
tag_trend_rep = github_soup_trending.find_all("h1", {"class":"h3 lh-condensed"})

#OPTION ONE
trending_repositories = [i.a["href"].split("/")[2] for i in tag_trend_rep]
trending_repositories

# ANOTHER WAY:
#trending_repositories = []
#for i in range(0,len(tag_trend_rep)):
#    tag_trend_rep_str = str(tag_trend_rep[i])
#    pattern_trend = '\S+\n</a> </h1>$'
#    trending_repositories_str = str(re.findall(pattern_trend,tag_trend_rep_str))
#    trending_repositories_str = str(trending_repositories_str.replace("\\n</a> </h1>",""))
#    trending_repositories_str = str(trending_repositories_str.replace("[",""))
#    trending_repositories_str = str(trending_repositories_str.replace("]",""))
#    trending_repositories_str = str(trending_repositories_str.replace("'",""))
#    trending_repositories.append(trending_repositories_str)
#trending_repositories

['fastapi',
 'youtube-dl',
 'log4j-tools',
 'log4j-finder',
 'turtle',
 'black',
 'prefect',
 'minDALL-E',
 'epicgames-claimer',
 'saleor',
 'poetry',
 'PaddleClas',
 'python-cheatsheet',
 'pytorch3d',
 'zulip',
 'django-rest-framework',
 'yt-dlp',
 'Yuno',
 'PaddleOCR',
 'pycord',
 'PaddleSpeech',
 'moco',
 'auto-cpufreq',
 'segmentation_models.pytorch',
 'ARKitScenes']

#### Display all the image links from Walt Disney wikipedia page.

In [7]:
# This is the url you will scrape in this exercise
url = 'https://en.wikipedia.org/wiki/Walt_Disney'

In [8]:
# your code here
walt_disney_response = requests.get('https://en.wikipedia.org/wiki/Walt_Disney')
html_walt_disney = walt_disney_response.content
walt_disney_soup = bs4.BeautifulSoup(html_walt_disney,"html.parser")
walt_disney_images = walt_disney_soup.find_all("a", {"class":"image"})

# OPTION ONE
wiki_walt_disney_images = ["https:"+i.img["src"] for i in walt_disney_images]
wiki_walt_disney_images

#ANOTHER WAY
#empty_list = []
#for i in range(0,len(walt_disney_images)):
#    pattern_images = '//upload.wikimedia.org/wikipedia/commons/thumb\S+'
#    walt_disney_str = str(walt_disney_images[i])
#    walt_disney_images_str = re.findall(pattern_images, walt_disney_str)
#    for x in walt_disney_images_str:
#        empty_list.append(x)
#wiki_walt_disney_images = ["https:"+d.replace('"',"") for d in empty_list]
#wiki_walt_disney_images

['https://upload.wikimedia.org/wikipedia/commons/thumb/d/df/Walt_Disney_1946.JPG/220px-Walt_Disney_1946.JPG',
 'https://upload.wikimedia.org/wikipedia/commons/thumb/8/87/Walt_Disney_1942_signature.svg/150px-Walt_Disney_1942_signature.svg.png',
 'https://upload.wikimedia.org/wikipedia/commons/thumb/c/c4/Walt_Disney_envelope_ca._1921.jpg/220px-Walt_Disney_envelope_ca._1921.jpg',
 'https://upload.wikimedia.org/wikipedia/commons/thumb/0/0d/Trolley_Troubles_poster.jpg/170px-Trolley_Troubles_poster.jpg',
 'https://upload.wikimedia.org/wikipedia/en/thumb/4/4e/Steamboat-willie.jpg/170px-Steamboat-willie.jpg',
 'https://upload.wikimedia.org/wikipedia/commons/thumb/5/57/Walt_Disney_1935.jpg/170px-Walt_Disney_1935.jpg',
 'https://upload.wikimedia.org/wikipedia/commons/thumb/c/cd/Walt_Disney_Snow_white_1937_trailer_screenshot_%2813%29.jpg/220px-Walt_Disney_Snow_white_1937_trailer_screenshot_%2813%29.jpg',
 'https://upload.wikimedia.org/wikipedia/commons/thumb/1/15/Disney_drawing_goofy.jpg/170px-Disney_drawing_goofy.jpg',
 'https://upload.wikimedia.org/wikipedia/commons/thumb/1/13/DisneySchiphol1951.jpg/220px-DisneySchiphol1951.jpg',
 'https://upload.wikimedia.org/wikipedia/commons/thumb/8/8c/WaltDisneyplansDisneylandDec1954.jpg/220px-WaltDisneyplansDisneylandDec1954.jpg',
 'https://upload.wikimedia.org/wikipedia/commons/thumb/f/ff/Walt_disney_portrait_right.jpg/170px-Walt_disney_portrait_right.jpg',
 'https://upload.wikimedia.org/wikipedia/commons/thumb/1/1a/Walt_Disney_Grave.JPG/170px-Walt_Disney_Grave.JPG',
 'https://upload.wikimedia.org/wikipedia/commons/thumb/2/2d/Roy_O._Disney_with_Company_at_Press_Conference.jpg/170px-Roy_O._Disney_with_Company_at_Press_Conference.jpg',
 'https://upload.wikimedia.org/wikipedia/commons/thumb/b/b0/Disney_Oscar_1953_%28cropped%29.jpg/170px-Disney_Oscar_1953_%28cropped%29.jpg',
 'https://upload.wikimedia.org/wikipedia/commons/thumb/6/6c/Disney1968.jpg/170px-Disney1968.jpg',
 'https://upload.wikimedia.org/wikipedia/commons/thumb/e/e3/Disneyland_Resort_logo.svg/135px-Disneyland_Resort_logo.svg.png',
 'https://upload.wikimedia.org/wikipedia/commons/thumb/d/da/Animation_disc.svg/20px-Animation_disc.svg.png',
 'https://upload.wikimedia.org/wikipedia/en/thumb/6/69/P_vip.svg/19px-P_vip.svg.png',
 'https://upload.wikimedia.org/wikipedia/commons/thumb/1/1a/Magic_Kingdom_castle.jpg/15px-Magic_Kingdom_castle.jpg',
 'https://upload.wikimedia.org/wikipedia/en/thumb/e/e7/Video-x-generic.svg/19px-Video-x-generic.svg.png',
 'https://upload.wikimedia.org/wikipedia/commons/thumb/a/a3/Flag_of_Los_Angeles_County%2C_California.svg/21px-Flag_of_Los_Angeles_County%2C_California.svg.png',
 'https://upload.wikimedia.org/wikipedia/commons/thumb/8/8c/Blank_television_set.svg/21px-Blank_television_set.svg.png',
 'https://upload.wikimedia.org/wikipedia/en/thumb/a/a4/Flag_of_the_United_States.svg/21px-Flag_of_the_United_States.svg.png']

#### Retrieve an arbitary Wikipedia page of "Python" and create a list of links on that page.

In [9]:
# This is the url you will scrape in this exercise
url ='https://en.wikipedia.org/wiki/Python'

In [10]:
# your code here
python_page_response = requests.get('https://en.wikipedia.org/wiki/Python')
python_wikipg = python_page_response.content
python_soup = bs4.BeautifulSoup(python_wikipg,"html.parser")
python_wikipg_links = [link for link in python_soup.find("div",id="bodyContent").find_all("a")]
python_wikipg_links_list = [re.findall('href="(.*?)"', str(i))[0] for i in python_wikipg_links]
wikiog_links_list = ["https://en.wikipedia.org"+link for link in python_wikipg_links_list if link[0]=="/"]

wikiog_links_list

['https://en.wikipedia.org/wiki/Pythonidae',
 'https://en.wikipedia.org/wiki/Python_(genus)',
 'https://en.wikipedia.org/w/index.php?title=Python&amp;action=edit&amp;section=1',
 'https://en.wikipedia.org/wiki/Python_(programming_language)',
 'https://en.wikipedia.org/wiki/CMU_Common_Lisp',
 'https://en.wikipedia.org/wiki/PERQ#PERQ_3',
 'https://en.wikipedia.org/w/index.php?title=Python&amp;action=edit&amp;section=2',
 'https://en.wikipedia.org/wiki/Python_of_Aenus',
 'https://en.wikipedia.org/wiki/Python_(painter)',
 'https://en.wikipedia.org/wiki/Python_of_Byzantium',
 'https://en.wikipedia.org/wiki/Python_of_Catana',
 'https://en.wikipedia.org/wiki/Python_Anghelo',
 'https://en.wikipedia.org/w/index.php?title=Python&amp;action=edit&amp;section=3',
 'https://en.wikipedia.org/wiki/Python_(Efteling)',
 'https://en.wikipedia.org/wiki/Python_(Busch_Gardens_Tampa_Bay)',
 'https://en.wikipedia.org/wiki/Python_(Coney_Island,_Cincinnati,_Ohio)',
 'https://en.wikipedia.org/w/index.php?title=Python&amp;action=edit&amp;section=4',
 'https://en.wikipedia.org/wiki/Python_(automobile_maker)',
 'https://en.wikipedia.org/wiki/Python_(Ford_prototype)',
 'https://en.wikipedia.org/w/index.php?title=Python&amp;action=edit&amp;section=5',
 'https://en.wikipedia.org/wiki/Python_(missile)',
 'https://en.wikipedia.org/wiki/Python_(nuclear_primary)',
 'https://en.wikipedia.org/wiki/Colt_Python',
 'https://en.wikipedia.org/w/index.php?title=Python&amp;action=edit&amp;section=6',
 'https://en.wikipedia.org/wiki/PYTHON',
 'https://en.wikipedia.org/wiki/Python_(film)',
 'https://en.wikipedia.org/wiki/Python_(mythology)',
 'https://en.wikipedia.org/wiki/Monty_Python',
 'https://en.wikipedia.org/wiki/Python_(Monty)_Pictures',
 'https://en.wikipedia.org/w/index.php?title=Python&amp;action=edit&amp;section=7',
 'https://en.wikipedia.org/wiki/Cython',
 'https://en.wikipedia.org/wiki/Pyton',
 'https://en.wikipedia.org/wiki/Pithon',
 'https://en.wikipedia.org/wiki/File:Disambig_gray.svg',
 'https://en.wikipedia.org/wiki/Help:Disambiguation',
 'https://en.wikipedia.org/wiki/Help:Category',
 'https://en.wikipedia.org/wiki/Category:Disambiguation_pages',
 'https://en.wikipedia.org/wiki/Category:Human_name_disambiguation_pages',
 'https://en.wikipedia.org/wiki/Category:Disambiguation_pages_with_given-name-holder_lists',
 'https://en.wikipedia.org/wiki/Category:Disambiguation_pages_with_short_descriptions',
 'https://en.wikipedia.org/wiki/Category:Short_description_is_different_from_Wikidata',
 'https://en.wikipedia.org/wiki/Category:All_article_disambiguation_pages',
 'https://en.wikipedia.org/wiki/Category:All_disambiguation_pages',
 'https://en.wikipedia.org/wiki/Category:Animal_common_name_disambiguation_pages']

#### Find the number of titles that have changed in the United States Code since its last release point.

In [11]:
# This is the url you will scrape in this exercise
url = 'http://uscode.house.gov/download/download.shtml'

In [12]:
# your code here
uscode_response = requests.get('http://uscode.house.gov/download/download.shtml')
uscode_content = uscode_response.content
uscode_soup = bs4.BeautifulSoup(uscode_content,"html.parser")
uscode_soup_titlechanged = uscode_soup.find_all("div", {"class":"usctitlechanged"})
titleschanged = []
for i in range(len(uscode_soup_titlechanged)):
    text_uscode = uscode_soup_titlechanged[i].text
    text_uscode = text_uscode.replace("\n","")
    text_uscode = text_uscode.rstrip()
    text_uscode = text_uscode.lstrip()
    titleschanged.append(text_uscode)
print (titleschanged)
print ("The number of titles that have changed since its last release point is" ,len(titleschanged),".")

['Title 31 - Money and Finance ٭']
The number of titles that have changed since its last release point is 1 .

#### Find a Python list with the top ten FBI's Most Wanted names.

In [13]:
# This is the url you will scrape in this exercise
url = 'https://www.fbi.gov/wanted/topten'

In [14]:
# your code here
fbi_response = requests.get("https://www.fbi.gov/wanted/topten")
fbi_html = fbi_response.content
fbi_soup = bs4.BeautifulSoup(fbi_html, "html.parser")
fbi_names_soup = fbi_soup.find_all("h3",{"class":"title"})
list_most_wanted_fbi = []
for i in fbi_names_soup:
#    i = i.text
#    i = i.replace("\n","")
#    list_most_wanted_fbi.append(i)
    list_most_wanted_fbi.append(i.a.string)
list_most_wanted_fbi

['JASON DEREK BROWN',
 'ALEXIS FLORES',
 'JOSE RODOLFO VILLARREAL-HERNANDEZ',
 'OCTAVIANO JUAREZ-CORRO',
 'RAFAEL CARO-QUINTERO',
 'YULAN ADONAY ARCHAGA CARIAS',
 'EUGENE PALMER',
 'BHADRESHKUMAR CHETANBHAI PATEL',
 'ALEJANDRO ROSALES CASTILLO',
 'ARNOLDO JIMENEZ']

####  Display the 20 latest earthquakes info (date, time, latitude, longitude and region name) by the EMSC as a pandas dataframe.

In [15]:
# This is the url you will scrape in this exercise
url = 'https://www.emsc-csem.org/Earthquake/'

In [16]:
# your code here
EMSC_response = requests.get('https://www.emsc-csem.org/Earthquake/')
EMSC_html = EMSC_response.content
EMSC_soup = bs4.BeautifulSoup(EMSC_html, "html.parser")
EMSC_earthquake_table = EMSC_soup.find_all ("th",{"class":"th2"})

#COLUMNS - EVENTUALLY I WILL ONLY USE VALUES IN INDEXES 0,1,2 AND 5
total_columns = [EMSC_earthquake_table[i].text.replace('  [+]','').replace(' & ','_') for i in range(1,len(EMSC_earthquake_table)-1)]
#print (total_columns)

#DATE & TIME
EMSC_earthquake_datetime = EMSC_soup.find_all ("td",{"class":"tabev6"})
date_time = [i.a.string.replace('\xa0\xa0\xa0','_') for i in EMSC_earthquake_datetime[0:20]]
#print (date_time)

#LONGITUDE & LATITUDE
EMSC_earthquake_latlong = EMSC_soup.find_all ("td",{"class":"tabev1"})
latitude = [i.string.replace('\xa0','') for i in EMSC_earthquake_latlong [0:40:2]]
longitude = [i.string.replace('\xa0','') for i in EMSC_earthquake_latlong[1:40:2]]

EMSC_earthquake_direction = EMSC_soup.find_all ("td",{"class":"tabev2"})
latitude_dir = [i.string.replace('\xa0\xa0','') for i in EMSC_earthquake_direction[0:60:3]]
longitude_dir = [i.string.replace('\xa0\xa0','') for i in EMSC_earthquake_direction[1:60:3]]

latitude_cleaned = [latitude[i] + ' ' + latitude_dir[i] for i in range(0,len(latitude))]
longitude_cleaned = [longitude[i] + ' ' + longitude_dir[i] for i in range(0,len(longitude))]
#print (latitude_cleaned)
#print (longitude_cleaned)

#REGION
EMSC_earthquake_region = EMSC_soup.find_all ("td",{"class":"tb_region"})
region = [i.string.replace('\xa0','') for i in EMSC_earthquake_region[0:20]]
#print(region)

#DATAFRAME
Earthquake_df = pd.DataFrame(date_time, columns = [total_columns[0]])
Earthquake_df[['Date', 'Time UTC']] = Earthquake_df['Date_Time UTC'].str.split('_', expand=True)
del Earthquake_df['Date_Time UTC']
Earthquake_df[total_columns[1]] = latitude_cleaned
Earthquake_df[total_columns[2]] = longitude_cleaned
Earthquake_df[total_columns[5]] = region
Earthquake_df

,Date,Time UTC,Latitude degrees,Longitude degrees,Region name
0,2021-12-18,22:40:06.0,7.51 S,121.90 E,FLORES SEA
1,2021-12-18,22:36:26.0,11.05 N,85.93 W,NICARAGUA
2,2021-12-18,22:30:37.0,8.90 N,126.28 E,"MINDANAO, PHILIPPINES"
3,2021-12-18,22:23:45.0,7.91 S,119.66 E,FLORES SEA
4,2021-12-18,22:16:02.0,37.88 S,74.81 W,"OFF COAST OF BIO-BIO, CHILE"
5,2021-12-18,22:15:56.2,13.20 N,88.60 W,EL SALVADOR
6,2021-12-18,22:05:10.7,19.15 N,155.50 W,"ISLAND OF HAWAII, HAWAII"
7,2021-12-18,22:04:49.4,59.88 N,153.88 W,SOUTHERN ALASKA
8,2021-12-18,22:03:30.0,7.92 S,119.74 E,FLORES SEA
9,2021-12-18,21:40:34.8,37.63 N,14.95 E,"SICILY, ITALY"
10,2021-12-18,21:37:18.0,7.94 S,119.72 E,FLORES SEA
11,2021-12-18,21:34:05.0,7.94 S,119.74 E,FLORES SEA
12,2021-12-18,21:28:32.9,37.77 N,14.61 E,"SICILY, ITALY"
13,2021-12-18,21:24:45.9,37.78 N,14.66 E,"SICILY, ITALY"
14,2021-12-18,21:21:04.0,18.05 S,69.57 W,"TARAPACA, CHILE"
15,2021-12-18,21:19:26.0,1.02 N,122.65 E,"MINAHASA, SULAWESI, INDONESIA"
16,2021-12-18,21:17:41.0,0.65 S,131.53 E,"NEAR N COAST OF PAPUA, INDONESIA"
17,2021-12-18,21:15:45.0,8.05 S,122.41 E,"FLORES REGION, INDONESIA"
18,2021-12-18,21:13:07.0,7.99 S,119.70 E,FLORES SEA
19,2021-12-18,21:12:52.0,0.34 S,119.45 E,"MINAHASA, SULAWESI, INDONESIA"

#### Count the number of tweets by a given Twitter account.
Ask the user for the handle (@handle) of a twitter account. You will need to include a ***try/except block*** for account names not found. 
<br>***Hint:*** the program should count the number of tweets for any provided account.

In [17]:
# This is the url you will scrape in this exercise 
# You will need to add the account credentials to this url
url = 'https://twitter.com/'

In [18]:
#your code here
#I HAVE TRIED WITH SEVERAL WAYS BUT IT SEEMS I'M DOING SOMETHING WRONG OR SOMETHING AS IT TELLS ME EITHER THE USER DOES 
#NOT EXIST, IT TAKES TOO LONG AND I HAVE TO RESTART THE KERNEL OR I GET AN ERROR

import tweepy
from tweepy import OAuthHandler  

api_key = "nQfNxnXSgCHcC92s43LysF7Xb"
api_key_secret = "enjV0TU0Suu28LEqcV9v4RKd0XpXPeTAGcrK4LJ4E5pBEU6FAu"
access_token = "266853131-1zx3XNz4rRTWcNm4oyE7iXPlHtcNfEFXRfcvJUTk"
token_secret = "et3c4YMWgQoJUvsUM9Y7yeJbdT4pVgmEYUWVWqJF6OxMW"

# Configuration
auth = tweepy.OAuthHandler(api_key, api_key_secret)
auth.set_access_token(access_token, token_secret)
api = tweepy.API(auth)

user_name= input(str("Enter the screen name of a user in twitter: "))

try:
    username = api.get_user(user_name)
    tweet_count = user.statuses_count 
    print("The number of tweets the user " + user_name + " has posted is : " + str(statuses_count))

except:
     print("Username not found")

Enter the screen name of a user in twitter: @irene9ago
Username not found

In [19]:
import snscrape.modules.twitter as sntwitter
tw2_acc = input('Enter a user of a Twitter account: ')

user_random_name = "irene9ago85" 

scraped_tweets = sntwitter.TwitterSearchScraper('from:'+user_random_name).get_items()
df_Irene9ago85 = pd.DataFrame(scraped_tweets)[['date', 'id', 'content', 'username']]
display(df_irene9ago85)

print("number of tweets of @" + user_random_name, len(df_irene9ago85))

ModuleNotFoundError: No module named 'snscrape'

#### Number of followers of a given twitter account
Ask the user for the handle (@handle) of a twitter account. You will need to include a ***try/except block*** for account names not found. 
<br>***Hint:*** the program should count the followers for any provided account.

In [20]:
# This is the url you will scrape in this exercise 
# You will need to add the account credentials to this url
url = 'https://twitter.com/'

In [21]:
# your code here
user = input(str("Enter the screen name of the user in twitter: "))
try:
    followers_count = api.get_user(screen_name=user).followers_count
    print("The number of followers of the user " + user +" is: " + str(followers_count))
except:
     print("Username not found")

Enter the screen name of the user in twitter: @irene9ago
Username not found

#### List all language names and number of related articles in the order they appear in wikipedia.org.

In [22]:
# This is the url you will scrape in this exercise
url = 'https://www.wikipedia.org/'

In [23]:
# your code here
languages_response = requests.get('https://www.wikipedia.org/')
languages_html = languages_response.content
languages_soup = bs4.BeautifulSoup(languages_html,"html.parser")

#AS A LIST
languages_soup_parsed = languages_soup.find_all("div", {"class":"central-featured-lang"})
languages_list = [i.a.strong.string + ": " + i.a.bdi.string.replace("\xa0",".") + " " + i.a.span.string for i in languages_soup_parsed]
#languages_list = [i.text.replace('\xa0','.').replace('\n',' ').rstrip().lstrip() for i in languages_soup_parsed]
languages_list  

# AS DATAFRAME
#languages = [i.text.strip() for i in languages_soup.find_all("strong")][1:-1]
#articles = [x.text.replace("\xa0",".").strip() for x in languages_soup.find_all("small")][0:(len(languages))]
#languages_articles_pd = pd.DataFrame(languages, columns = ["Language"])
#languages_articles_pd ["Articles"] = pd.DataFrame(articles)
#languages_articles_pd

['English: 6.383.000+ articles',
 '日本語: 1.292.000+ 記事',
 'Русский: 1.756.000+ статей',
 'Deutsch: 2.617.000+ Artikel',
 'Español: 1.717.000+ artículos',
 'Français: 2.362.000+ articles',
 '中文: 1.231.000+ 條目',
 'Italiano: 1.718.000+ voci',
 'Português: 1.074.000+ artigos',
 'Polski: 1.490.000+ haseł']

#### A list with the different kind of datasets available in data.gov.uk.

In [24]:
# This is the url you will scrape in this exercise
url = 'https://data.gov.uk/'

In [25]:
# your code here
datasets_response = requests.get('https://data.gov.uk/')
datasets_html = datasets_response.content
datasets_soup = bs4.BeautifulSoup(datasets_html,"html.parser")
datasets_soup_parsed = datasets_soup.find_all("h3",{"govuk-heading-s dgu-topics__heading"})
datasets = [i.a.string for i in datasets_soup_parsed]
datasets

['Business and economy',
 'Crime and justice',
 'Defence',
 'Education',
 'Environment',
 'Government',
 'Government spending',
 'Health',
 'Mapping',
 'Society',
 'Towns and cities',
 'Transport',
 'Digital service performance',
 'Government reference data']

#### Display the top 10 languages by number of native speakers stored in a pandas dataframe.

In [26]:
# This is the url you will scrape in this exercise
url = 'https://en.wikipedia.org/wiki/List_of_languages_by_number_of_native_speakers'

In [27]:
# your code here
top10languages_response = requests.get('https://en.wikipedia.org/wiki/List_of_languages_by_number_of_native_speakers')
top10languages_html = top10languages_response.content
top10languages_soup = bs4.BeautifulSoup(top10languages_html,"html.parser")
top10languages = top10languages_soup.find_all("tr")
table_top10languages = [i.text.replace("\n\n"," , ").replace("\n","").replace("[11]","").replace("[10]","").replace("[12]","").split(',') for i in top10languages][1:12]
columns = [table_top10languages[0]]
top10languages_df = pd.DataFrame(table_top10languages[1:11], columns = columns)
top10languages_df

,Rank,Language,Speakers(millions),Percentageof world pop.(March 2019),Language family,Branch
0,1,Mandarin Chinese,918,11.922%,Sino-Tibetan,Sinitic
1,2,Spanish,480,5.994%,Indo-European,Romance
2,3,English,379,4.922%,Indo-European,Germanic
3,4,Hindi (sanskritised Hindustani),341,4.429%,Indo-European,Indo-Aryan
4,5,Bengali,300,4.000%,Indo-European,Indo-Aryan
5,6,Portuguese,221,2.870%,Indo-European,Romance
6,7,Russian,154,2.000%,Indo-European,Balto-Slavic
7,8,Japanese,128,1.662%,Japonic,Japanese
8,9,Western Punjabi,92.7,1.204%,Indo-European,Indo-Aryan
9,10,Marathi,83.1,1.079%,Indo-European,Indo-Aryan

## Bonus
#### Scrape a certain number of tweets of a given Twitter account.

In [26]:
# This is the url you will scrape in this exercise 
# You will need to add the account credentials to this url
url = 'https://twitter.com/'

In [ ]:
# your code here

#### Display IMDB's top 250 data (movie name, initial release, director name and stars) as a pandas dataframe.

In [28]:
# This is the url you will scrape in this exercise 
url = 'https://www.imdb.com/chart/top'

In [29]:
# your code here
imdb_response = requests.get('https://www.imdb.com/chart/top').content
imdb_soup = bs4.BeautifulSoup(imdb_response,"html.parser")
imdb_parser = imdb_soup.find_all("table",{"class":"chart full-width"})[0].find_all("a")
imdb_top250_director = [i["title"].split("(dir.)")[0].strip() for i in imdb_parser if i.string !=None]
imdb_top250_movie_name = [ i.string for i in imdb_parser[1:len(imdb_parser):2]]
imdb_top_year = imdb_soup.find_all("span",{"class":"secondaryInfo"})
imdb_top250_year = [i.string for i in imdb_top_year]
imdb_top_stars = imdb_soup.find_all("td",{"class":"ratingColumn imdbRating"})
imdb_top250_stars = [i.text.strip() for i in imdb_top_stars]
imdb_top250_df = pd.DataFrame({"Movie Name":imdb_top250_movie_name,"Initial Release":imdb_top250_year,"Director Name":imdb_top250_director,"Stars":imdb_top250_stars})
imdb_top250_df

                Movie Name Initial Release         Director Name Stars
0          Cadena perpetua          (1994)        Frank Darabont   9.2
1               El padrino          (1972)  Francis Ford Coppola   9.1
2     El padrino: Parte II          (1974)  Francis Ford Coppola   9.0
3      El caballero oscuro          (2008)     Christopher Nolan   9.0
4    12 hombres sin piedad          (1957)          Sidney Lumet   8.9
..                     ...             ...                   ...   ...
245    La batalla de Argel          (1966)      Gillo Pontecorvo   8.0
246  Las noches de Cabiria          (1957)      Federico Fellini   8.0
247  La princesa prometida          (1987)            Rob Reiner   8.0
248           Paris, Texas          (1984)           Wim Wenders   8.0
249     Tres colores: Rojo          (1994)  Krzysztof Kieslowski   8.0

[250 rows x 4 columns]

#### Display the movie name, year and a brief summary of the top 10 random movies (IMDB) as a pandas dataframe.

In [30]:
#This is the url you will scrape in this exercise
url = 'http://www.imdb.com/chart/top'

In [31]:
# your code here
imdb_soup = bs4.BeautifulSoup(requests.get('https://www.imdb.com/chart/top').content,"html.parser")
imdb_description_link = ['http://www.imdb.com'+re.findall("href=[\"\'](.*?)[\"\']",str(link))[0] for link in imdb_soup.find_all("td", {"class": "titleColumn"})]
imdb_top250_df["Link Description"] = imdb_description_link

imdb_top10_movies = imdb_top250_df[0:10]
movie_description = []
for link in imdb_top10_movies["Link Description"]:
    description_soup = bs4.BeautifulSoup(requests.get(link).content, "html.parser") 
    description_parsed = [i.span.text for i in description_soup.find_all("p",{"class":"GenresAndPlot__Plot-cum89p-6 bUyrda"})]
    movie_description.append(description_parsed[0])
imdb_top10_movies["Description"] = movie_description
imdb_top10_table = imdb_top10_movies[["Movie Name","Initial Release","Description"]]
imdb_top10_table

C:\Users\irene\anaconda3\envs\ironhack\lib\site-packages\ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if sys.path[0] == '':

,Movie Name,Initial Release,Description
0,Cadena perpetua,(1994),Two imprisoned men bond over a number of years...
1,El padrino,(1972),"The Godfather follows Vito Corleone, Don of th..."
2,El padrino: Parte II,(1974),The early life and career of Vito Corleone in ...
3,El caballero oscuro,(2008),When the menace known as the Joker wreaks havo...
4,12 hombres sin piedad,(1957),The jury in a New York City murder trial is fr...
5,La lista de Schindler,(1993),"In German-occupied Poland during World War II,..."
6,El señor de los anillos: El retorno del rey,(2003),Gandalf and Aragorn lead the World of Men agai...
7,Spider-Man: No Way Home,(2021),"With Spider-Man's identity now revealed, Peter..."
8,Pulp Fiction,(1994),"The lives of two mob hitmen, a boxer, a gangst..."
9,"El bueno, el feo y el malo",(1966),A bounty hunting scam joins two men in an unea...

#### Find the live weather report (temperature, wind speed, description and weather) of a given city.

In [32]:
#https://openweathermap.org/current
city = input('Enter the city: ')
url = 'http://api.openweathermap.org/data/2.5/weather?'+'q='+city+'&APPID=b35975e18dc93725acb092f7272cc6b8&units=metric'

Enter the city: Madrid

In [ ]:
#IT TAKES TOO LONG AND I HAVE TO RESTART THE KERNEL SOMETHING SEEMS TO BE INCORRECT
# your code here
weather_response = requests.get('http://api.openweathermap.org/data/2.5/weather?'+'q='+city+'&APPID=b35975e18dc93725acb092f7272cc6b8&units=metric').content
weather_html = bs4.BeautifulSoup(weather_response,"html.parser")
weather_html

#### Find the book name, price and stock availability as a pandas dataframe.

In [33]:
# This is the url you will scrape in this exercise. 
# It is a fictional bookstore created to be scraped. 
url = 'http://books.toscrape.com/'

In [33]:
# your code here
books_response = requests.get('http://books.toscrape.com/')
books_html = books_response.content
books_soup = bs4.BeautifulSoup(books_html,"html.parser") 
book_name = books_soup.find_all("ol",{"class":"row"})[0]
book_name_article = book_name.find_all("article")
book_name_list = [book.h3.a["title"] for book in book_name_article]
book_price_list = [price.string for price in books_soup.find_all("p",{"class":"price_color"})]
book_stock_list = [stock.text.strip() for stock in books_soup.find_all("p",{"class":"instock availability"})]
books = pd.DataFrame({"Book name":book_name_list,"Price":book_price_list,"Availability":book_stock_list})
books

                                            Book name   Price Availability
0                                A Light in the Attic  £51.77     In stock
1                                  Tipping the Velvet  £53.74     In stock
2                                          Soumission  £50.10     In stock
3                                       Sharp Objects  £47.82     In stock
4               Sapiens: A Brief History of Humankind  £54.23     In stock
5                                     The Requiem Red  £22.65     In stock
6   The Dirty Little Secrets of Getting Your Dream...  £33.34     In stock
7   The Coming Woman: A Novel Based on the Life of...  £17.93     In stock
8   The Boys in the Boat: Nine Americans and Their...  £22.60     In stock
9                                     The Black Maria  £52.15     In stock
10     Starving Hearts (Triangular Trade Trilogy, #1)  £13.99     In stock
11                              Shakespeare's Sonnets  £20.66     In stock
12                                        Set Me Free  £17.46     In stock
13  Scott Pilgrim's Precious Little Life (Scott Pi...  £52.29     In stock
14                          Rip it Up and Start Again  £35.02     In stock
15  Our Band Could Be Your Life: Scenes from the A...  £57.25     In stock
16                                               Olio  £23.88     In stock
17  Mesaerion: The Best Science Fiction Stories 18...  £37.59     In stock
18                       Libertarianism for Beginners  £51.33     In stock
19                            It's Only the Himalayas  £45.17     In stock