# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [1]:
# import numpy and pandas
import pandas as pd
import numpy as np

# Challenge 1 - Independent Sample T-tests

In this challenge, we will be using the Pokemon dataset. Before applying statistical methods to this data, let's first examine the data.

To load the data, run the code below.

In [2]:
# Run this code:
pokemon = pd.read_csv('../pokemon.csv')

Let's start off by looking at the `head` function in the cell below.

In [3]:
# Your code here:
pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

The first thing we would like to do is compare the legendary Pokemon to the regular Pokemon. To do this, we should examine the data further. What is the count of legendary vs. non legendary Pokemons?

In [4]:
# Your code here:
counts = pokemon.value_counts(pokemon["Legendary"])
counts

Legendary
False    735
True      65
dtype: int64

In [5]:
non_legendary = pokemon[(pokemon["Legendary"]==False)]
non_legendary.value_counts(pokemon["Legendary"])

Legendary
False    735
dtype: int64

In [6]:
legendary = pokemon[(pokemon["Legendary"]==True)]
legendary.value_counts(pokemon["Legendary"])

Legendary
True    65
dtype: int64

Compute the mean and standard deviation of the total points for both legendary and non-legendary Pokemon.

In [7]:
# Your code here:
mean_legendarypokemon = legendary["Total"].mean()
mean_legendarypokemon

637.3846153846154

In [8]:
mean_nonlegendarypokemon = non_legendary["Total"].mean()
mean_nonlegendarypokemon

417.21360544217686

In [9]:
std_dv_legendarypokemon = legendary["Total"].std()
std_dv_legendarypokemon

60.93738905315346

In [10]:
std_dv_nonlegendarypokemon = non_legendary["Total"].std()
std_dv_nonlegendarypokemon

106.76041745713022

The computation of the mean might give us a clue regarding how the statistical test may turn out; However, it certainly does not prove whether there is a significant difference between the two groups.

In the cell below, use the `ttest_ind` function in `scipy.stats` to compare the the total points for legendary and non-legendary Pokemon. Since we do not have any information about the population, assume the variances are not equal.

In [11]:
# Your code here:
from scipy.stats import ttest_ind
statistic1, pvalue1 = ttest_ind(legendary['Total'], non_legendary['Total'])
pvalue1

3.0952457469652825e-52

What do you conclude from this test? Write your conclusions below.

In [12]:
# Your conclusions here:
# H0 --> legendary[total] = non_legendary[total]
# Ha --> legendary[total] != non_legendary[total]

#Since pvalue is smaller than 0.05, I have almost 100% certainty to not make a mistake by rejecting H0, 
#so I will reject H0 and stick with my Ha. I can say in this case, that the total points of the legendary pokemons
#are different from the total points from Non-Legendary pokemons.

How about we try to compare the different types of pokemon? In the cell below, list the types of Pokemon from column `Type 1` and the count of each type.

In [13]:
# Your code here:
pokemon["Type 1"].value_counts()

Water       112
Normal       98
Grass        70
Bug          69
Psychic      57
Fire         52
Electric     44
Rock         44
Dragon       32
Ground       32
Ghost        32
Dark         31
Poison       28
Steel        27
Fighting     27
Ice          24
Fairy        17
Flying        4
Name: Type 1, dtype: int64

Since water is the largest group of Pokemon, compare the mean and standard deviation of water Pokemon to all other Pokemon.

In [14]:
# Your code here:
water_pokemon = pokemon[(pokemon["Type 1"] == "Water")]
water_pokemon

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
9,7,Squirtle,Water,NaN,314,44,48,65,50,64,43,1,False
10,8,Wartortle,Water,NaN,405,59,63,80,65,80,58,1,False
11,9,Blastoise,Water,NaN,530,79,83,100,85,105,78,1,False
12,9,BlastoiseMega Blastoise,Water,NaN,630,79,103,120,135,115,78,1,False
59,54,Psyduck,Water,NaN,320,50,52,48,65,50,55,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
724,656,Froakie,Water,NaN,314,41,56,40,62,44,71,6,False
725,657,Frogadier,Water,NaN,405,54,63,52,83,56,97,6,False
726,658,Greninja,Water,Dark,530,72,95,67,103,71,122,6,False
762,692,Clauncher,Water,NaN,330,50,53,62,58,63,44,6,False
763,693,Clawitzer,Water,NaN,500,71,73,88,120,89,59,6,False

In [15]:
other_pokemon = pokemon[(pokemon["Type 1"] != "Water")]
other_pokemon

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

In [16]:
# Your code here:
mean_waterpokemons = water_pokemon["Total"].mean()
mean_waterpokemons

430.45535714285717

In [17]:
# Your code here:
mean_otherpokemons = other_pokemon["Total"].mean()
mean_otherpokemons

435.85901162790697

In [18]:
# Your code here:
std_waterpokemons = water_pokemon["Total"].std()
std_waterpokemons

113.18826606431458

In [19]:
# Your code here:
std_otherpokemons = other_pokemon["Total"].std()
std_otherpokemons

121.09168230208066

Perform a hypothesis test comparing the mean of total points for water Pokemon to all non-water Pokemon. Assume the variances are equal.

In [20]:
# Your code here:
from scipy.stats import ttest_ind
statistic2, pvalue2 = ttest_ind(water_pokemon['Total'],other_pokemon['Total'])
pvalue2

0.6587140317488793

Write your conclusion below.

In [21]:
# Your conclusions here:
#H0 -->  water_pokemon("Total") = other_pokemon["Total"]
#Since pvalue is greater than 0.05, I have less than 95% of not making a mistake if I reject H0,
#so I cannot reject H0. In other words, I can say that totals between water and other types are not significately different.

# Challenge 2 - Matched Pairs Test

In this challenge we will compare dependent samples of data describing our Pokemon. Our goal is to see whether there is a significant difference between each Pokemon's defense and attack scores. Our hypothesis is that the defense and attack scores are equal. In the cell below, import the `ttest_rel` function from `scipy.stats` and compare the two columns to see if there is a statistically significant difference between them.

In [22]:
from scipy.stats import ttest_rel
statistic3, pvalue3 = ttest_rel(pokemon['Defense'], pokemon['Attack'])
pvalue3

1.7140303479358558e-05

Describe the results of the test in the cell below.

In [23]:
# Your conclusions here:
#H0 -->  pokemon("Defense") = pokemon["Attack"]
#Ha -->  pokemon("Defense") != pokemon["Attack"]
#Since the pvalue is less than 0.05, I have an almost 100% of not making a mistake by rejecting H0, 
#so I can reject H0 and say that there is significant difference between each Pokemon's defense and attack scores

We are also curious about whether therer is a significant difference between the mean of special defense and the mean of special attack. Perform the hypothesis test in the cell below.

In [24]:
# Your code here:
from scipy.stats import ttest_rel
statistic4, pvalue4 = ttest_rel(pokemon['Sp. Def'], pokemon['Sp. Atk'])
pvalue4

0.3933685997548122

Describe the results of the test in the cell below.

In [25]:
# Your conclusions here:
#H0 -->  pokemon("Sp. Def") = pokemon["Sp. Atk"]
#Ha -->  pokemon("Sp. Def") != pokemon["Sp. Atk"]
# Your conclusions here:
#H0 -->  water_pokemon("Total") = other_pokemon["Total"]
#Since pvalue is greater than 0.05, I have less than 95% of not making a mistake if I reject H0,
#so I cannot reject H0. In other words, I can say that totals between the mean of Special defense and Special attack are not significately different.

As you may recall, a two sample matched pairs test can also be expressed as a one sample test of the difference between the two dependent columns.
Import the `ttest_1samp` function and perform a one sample t-test of the difference between defense and attack. Test the hypothesis that the difference between the means is zero. Confirm that the results of the test are the same.

In [26]:
# Your code here:
from scipy.stats import ttest_1samp
dif_def_atk = ttest_1samp(pokemon["Defense"]-pokemon["Attack"], popmean=0)
dif_def_atk
#I get same result

Ttest_1sampResult(statistic=-4.325566393330478, pvalue=1.7140303479358558e-05)

# Bonus Challenge - The Chi-Square Test

The Chi-Square test is used to determine whether there is a statistically significant difference in frequencies. In other words, we are testing whether there is a relationship between categorical variables or rather when the variables are independent. This test is an alternative to Fisher's exact test and is used in scenarios where sample sizes are larger. However, with a large enough sample size, both tests produce similar results. Read more about the Chi Squared test [here](https://en.wikipedia.org/wiki/Chi-squared_test).

In the cell below, create a contingency table using `pd.crosstab` comparing whether a Pokemon is legenadary or not and whether the Type 1 of a Pokemon is water or not.

In [27]:
# Your code here:
contingency = pd.crosstab(pokemon['Legendary'], pokemon['Type 1']=='Water', colnames=['Water'])
contingency

Water      False  True
Legendary
False        627   108
True          61     4

Perform a chi-squared test using the `chi2_contingency` function in `scipy.stats`. You can read the documentation of the function [here](https://docs.scipy.org/doc/scipy-0.15.1/reference/generated/scipy.stats.chi2_contingency.html).

In [28]:
# Your code here:
from scipy import stats
chi2,pvalue5,degrees_of_freedom,exp_freq = stats.chi2_contingency(contingency)
pvalue5

0.08625467249550949

Based on a 95% confidence, should we reject the null hypothesis?

In [19]:
# Your answer here:
#Since pvalue is greater than aplha (0.05), I have less than 95% of not making a mistake by rejecting H0, for this reason I cannot reject H0.
#So we assume that the variables are independent.